{% extends 'base.html' %}

{% block title %}
My Tasks
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if show_my_tasks.count == 0 %}
            <p>You have no tasks</p>
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Start date</th>
                        <th scope="col">Due date</th>
                        <th scope="col">Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for subject in show_my_tasks %}
                    <tr>
                        <td>{{ subject.name }}</td>
                        <td>{{ subject.start_date }}</td>
                        <td>{{ subject.due_date }}</td>
                        <td>{{ subject.is_completed|yesno }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}
        </div>
    </main>

{% endblock content %}
