{% extends 'base.html' %}

{% block title %}
My Projects
{% endblock title %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if list_projects.count == 0 %}
                <p>You are not assigned to any projects</p>

            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Number of tasks</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for subject in list_projects %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' subject.id %}">{{ subject.name }}</a>
                            </td>
                            <td>{{ subject.tasks.count }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
        </div>
    </main>

    {% endblock content %}
