{% extends 'base.html' %}

{% block title %}
{{ show_project.name }}
{% endblock title %}

{% block content %}

    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
                <p>{{ show_project.description }}</p>
                    <h2>Tasks</h2>
                    <p>
                        <a href="{% url 'create_task' %}">Create a new task</a>
                    </p>
                    {% if show_project.tasks.count == 0 %}

                        <p>This project has no tasks</p>
                    {% else %}


                        <table>
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Assignee</th>
                                    <th scope="col">Start date</th>
                                    <th scope="col">Due date</th>
                                    <th scope="col">Is completed</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subject in show_project.tasks.all %}
                                <tr>
                                    <td>{{ subject.name }}</td>
                                    <td>{{ subject.assignee }}</td>
                                    <td>{{ subject.start_date }}</td>
                                    <td>{{ subject.due_date }}</td>
                                    <td>{{ subject.is_completed|yesno }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
        </div>
    </main>

{% endblock content %}
